.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin-top: 15px; 
}

.footer-link {
  text-decoration: none;
}

.footer-icon {
  width: 30px;
  height: 30px;
  filter: invert(1); 
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2); 
  }
}